.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--theme-color);
  }
}

.modal-headline {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: 0.03em;

  color: var(--headline-color);
}

.modal-form {
  margin-top: 12px;
}

.form-input-box {
  position: relative;

  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  color: var(--text-color);
}

.form-input,
.form-message {
  width: 100%;
  height: 40px;

  margin-top: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 10px 0 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) linear border;

  &:focus {
    outline: none;
    border: 1px solid var(--theme-color);
  }
}

.form-input:focus + svg {
  fill: var(--theme-color);
}

.form-message {
  font-family: inherit;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) linear border;

  &::placeholder {
    color: #bababa;
  }
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) linear fill;
}

.policy-box {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--headline-color);
  border-radius: 2px;
  margin-right: 7px;
}

.policy-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.policy-checkbox:checked + .policy-icon {
  border-color: transparent;
  background-color: var(--theme-color);
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.policy-box a {
  text-decoration: underline;
  color: var(--theme-color);
}

.form-submit-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;
  background: #188ce8;
  color: #ffffff;
  border: none;
}
