.portfolio {
  padding: 94px 0;
}

.filter-links {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    font-family: var(--main-font);
    background: #f5f4fa;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headline-color);
    cursor: pointer;
    transition: 250ms var(--timing-fuction);
  }
  &__btn:hover,
  &__btn:focus {
    background: var(--theme-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #ffffff;
  }
}

.examples-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.examples-item {
  width: 370px;
  transition: 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: 250ms var(--timing-fuction);
}

.examples-item:hover .examples-overlay,
.examples-item:focus .examples-overlay {
  opacity: 1;
  transform: translateY(0);
}

.examples-actions {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.examples-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.examples-name {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--headline-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
