:root {
  --theme-color: #2196f3;
  --text-color: #757575;
  --headline-color: #212121;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
}
